import debug/${DEBUG_LEVEL}.conf

:80 {
    forward_proxy {
        hide_ip
        hide_via
    }

    route {
        @github host github.com
        header @github {
            X-Github-Proxy true
        }
    }
}
